* {
  font-family:helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 3px;
  color:#fff;
}

form {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  border-radius: 4px;
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;
  width: 550px;
  color: #fff;
}

label {
}

input{
  /* background-color:  #d4e6f1 ; */
  border-radius: 5px;
}


.separador {
  padding: 5px;
}

.separador input{
  font-size: 20px;
  border:none;
}

#importe{
  margin:3px 1px;  
  padding: 5px 10px;
  border-radius: 5px;
}

textarea {
  padding: 5px;
  line-height: 1.3em;
  border: 2px solid #ffffff;
  border-radius: 6px;
  resize: none;
}

.boton {
  width:180px;
  color: #fff;
  padding: 8px 16px;
  border:none;
  border-radius: 10px; /* add this line */
  cursor: pointer; /* add this line */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.boton:hover{
  opacity:0.80;
}

.informacion {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}

.warning {
  width: 200;
  text-align: center;
  margin: auto;
  background: #fff;
  color: red;
}

.iva {
  width: 200;
  text-align: center;
  margin: auto;
}


footer {
  text-align: center;
  padding: 10px;
  color: #fff;
}
