* {
  font-family:helvetica;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {
	background-color: #290001;
}

h1 {
  text-align: center;
  margin: 3px;
  color: #fff;
}

form {
  background-color: #87431D;
  border-radius: 4px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;
  width: 550px;
  color: #fff;
}

input{
  background-color: #DBCBBD;
  border-radius: 5px;
}


.separador {
  padding: 5px;
}

.separador input{
  font-size: 20px;
  border:none;
}

#importe{
  margin:3px 1px;  
  padding: 5px 10px;
  border-radius: 5px;
}

textarea {
  padding: 5px;
  font-size: 15px;
  font-family:helvetica;
  background-color: #DBCBBD;
  border: 2px solid #DBCBBD;
  border-radius: 6px;
}

.boton {
  width:180px;
  color:#fff;
  padding: 8px 16px;
  border:none;
  border-radius: 10px; /* add this line */
  cursor: pointer; /* add this line */
  background-color: #290001;
}

.boton:hover{
  opacity:0.75;
}

footer {
  text-align: center;
  padding: 10px;
  color: #fff;
}
