* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family:helvetica;
}

h1 {
  text-align: center;
}

form {
  font-size: 24px;
  text-align: center;
  background-color:#84b6f4;
}

.separador {
  padding: 10px;
}

.separador input{
  font-size: 20px;
}

#separadorPlanilla{
  display: flex;
}

textarea {
  margin: auto;
  font-size: 24px;
}

.boton {
  padding: 8px;
  border-radius: 10px; /* add this line */
  cursor: pointer; /* add this line */
  background-color: #fff;
}
